<%- include layouts/sidebar.ejs %>
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> Cadastro de empresas </h2>
              <div class="clearfix"></div>
            </div>

            <% if(sucesso.length> 0){%>
            <div class="alert alert-success">
              <strong><%= sucesso %></strong>
            </div>
            <% } %>

            <div class="x_content">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Empresas Cadastradas</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable-buttons" class="table table-striped table-bordered bulk_action dataTables_wrapper">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Situação</th>
                          <th>Nome</th>
                          <th>Endereço</th>
                          <th>Responsavel</th>
                          <th>Telefone Celular</th>
						              <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <% if(empresas.length) { %>
                          <% for(var i = 0; i < empresas.length; i++) { %>
                            <tr
                              <% if(empresas[i].situacao == 0) { %>
                                style="background-color:#b22222"
                              <% } %>
                            >
                              <td><%=empresas[i].id_empresa%></td>
                              <% var sit = empresas[i].situacao; %>
                                <% if(sit == "1") { %>
                                 <% sit = "Ativo"; %>
                                <% } else{ %>
                                 <% sit = "Inativo"; %>
                                <% } %>
                              <td><%=sit%></td>
                              <td><%=empresas[i].nome_empresa%></td>
                              <td><%=empresas[i].endereco%></td>
                              <td><%=empresas[i].responsavel%></td>
                              <td><%=empresas[i].telefone_cel%></td>
                              <td><input type='button' value='Editar' color="#a0a0a2" onclick="funcaoEmpresas('<%= empresas[i].id_empresa %>', '<%= empresas[i].nome_empresa %>', '<%= empresas[i].cnpj %>', '<%= empresas[i].endereco%>', '<%= empresas[i].responsavel %>', '<%= empresas[i].telefone_fixo %>', '<%= empresas[i].telefone_cel %>', '<%= empresas[i].email %>', '<%= empresas[i].latitude %>', '<%= empresas[i].longitude %>', '<%= empresas[i].situacao %>')"></td>
                            </tr>
                              <% }} %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <br />


              <form method="post" action="" name="formulario" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">


                <input type="hidden" id="id_empresa" name="id_empresa" required="required" class="form-control col-md-7 col-xs-12">


              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_empresa"> Nome da empresa
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="nome_empresa" name="nome_empresa" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Situação</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <select id="situacao" name="situacao" class="form-control">
                    <option value=""> -- Selecione uma opção -- </option>
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_endereco"> Endereço
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="endereco" name="endereco" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_cnpj"> CNPJ
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="cnpj" name="cnpj" required="required" class="cnpj form-control" minlength="18" placeholder="Ex: 12.123.123/1234-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_responsavel"> Responsável
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="responsavel" name="responsavel" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <!--
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_login"> Login
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="login" name="login" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_senha"> Senha
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="password" id="senha" name="senha" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              -->

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_telefone"> Telefone Fixo
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="telefone_fixo" name="telefone_fixo" required="required" class="telefone form-control" minlength="14" placeholder="Ex: (45) 3333-3333">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_telefonecel"> Telefone Celular
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="telefone_cel" name="telefone_cel" required="required" class="telefonecel form-control" minlength="16" placeholder="Ex: (45) 9 9999-9999">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_email"> Email
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_latitude"> Latitude
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="latitude" name="latitude" required="required"  class="form-control col-md-7 col-xs-12">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="l_longitude"> Longitude
                  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="longitude" name="longitude" required="required"  class="form-control col-md-7 col-xs-12" >
                </div>
              </div>

                <div id="map"></div>
                <script>
                function initMap() {
                  var cascavel = {lat: -24.953483, lng: -53.464458};
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 14,
                    center: cascavel
                  });


                  var marker = new google.maps.Marker({
                  });

                  var contentString = '';

                  var infowindow = new google.maps.InfoWindow({
                  });
                  function marcaLocal(latLng, map) { //cria o marcador no local
                  	marker = new google.maps.Marker({
    									position: latLng,
    									map: map
  									});
                    contentString = ""+ latLng +"";
                    infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
  									//map.panTo(latLng); //centraliza o mapa no marcador
									}



                  map.addListener('click', function(a) { //adiciona o marcador no mapa ao clicar
                  	marker.setMap(null);
    								marcaLocal(a.latLng, map);
                    map.setCenter(marker.getPosition());

                    infowindow.open(map, marker);
  								});


                }
                </script>
                <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBDSF5tHZTMvVZAifZK5dwS1mMX5gm_oU&callback=initMap">
                </script>



                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-round btn-warning" type="reset">Limpar</button>
                    <button class="btn btn-round btn-success" type="submit">Salvar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
